body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*
     background-image: url("../img/bg1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    */
    background-color: #761c19 ;

}
@font-face {
    font-family:'oswald';
    src : url('../bootstrap/fonts/W05.ttf');
}

.shop-main-title{
    position: absolute;
    width: 350px;
    height: 100px;
    /*border: 1px solid black;*/
    margin-left: 160px;
    margin-top: 20px;
    color: #ffffff;
}
.shop-main-title h2{
    font-family:oswald;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px 2px black;
    margin-top: 20px;

    color: #ec971f;
}
.shop-main-title h2 img{
    position: relative;
    margin-left: 10px;
    top: -5px;
    right: 13px;
}
.shop-search{
    position: absolute;
    width: 560px;
    height: 50px;
    right : 400px;
    top: 70px;
    padding: 0;
}
.shop-search form{
    padding: 0;
}
.shop-search form img{
    position: absolute;
    top: 7px;
    left: 15px;
    z-index: 10;
}
.shop-search input[type="text"]{
    position: relative;
    width: 360px;
    height: 36px;
    margin: 0;
    /*background:none;*/
    border: 1px solid #761c19;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 45px;
    color: rgb(87, 87, 87);
}
.shop-search input[type="text"]:focus{
    outline: none;
}
input::-webkit-input-placeholder{
    color: rgb(127, 127, 127);
}
.shop-search input[type="button"]{
    position: relative;
    width: 80px;
    height: 36px;
    margin: 0;
    left: -6px;
    background-color: rgb(106,11,7);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
}
.shop-help{
    position: fixed;
    width: 220px;
    height: 32px;
    border-bottom-left-radius:40px;
    background-color: #761c19;
    box-shadow: 5px 2px 20px black;
    right: 0;
    top: 0;
    z-index: 100;
    background-image: url("../img/bar.png");
    background-repeat: repeat;
}
.a-1{
    position: relative;
    color: white;
    margin-left: 40px;
    top: -2px;
    cursor: pointer;
    font-size: 24px;
}
.a-2{
    position: relative;
    color: white;
    margin-left: 70px;
    top: 6px;
    cursor: pointer;
    font-size: 13px;
}
.shop-nav{
    position: absolute;
    width: 100%;
    height: 50px;
    /* border-bottom: 1px solid #D8D8D8;*/
    top: 130px;
    left: 0;
    background-image: url("../img/bar.png");
    background-repeat: repeat-x;
    /*background-size: 50%;*/
}
.shop-nav ul{
    position: relative;
    padding-left: 340px;
    list-style: none;
    margin-left: 50px;
    color: #ffffff;
}
.shop-nav ul li{
    position: relative;
    float: left;
    margin-left: 40px;
    margin-top: 7px;
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;

}
.shop-nav ul li:hover{
    color: #9acfea;
}
.shop-user{
    margin-top: 3px;
    position: absolute;
    width: 330px;
    height: 500px;
    border: 1px solid #F0F0F0;
    border-radius: 20px;
    top: 206px;
    float: left;
    right: 100px;
    z-index: 10;
    font-size: 24px;
    color: #ffffff;
}
.shop-user-top{
    position: absolute;
    width: 100%;
    height: 99px;
    border-bottom: 1px solid #F0F0F0;
}
.user-img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 25px;
    border: 2px solid #DDDDDD;
}
.user-img img{
    margin-left: 10px;
    margin-top: 10px;
}
.user-span{
    margin-left: 100px;
    margin-top: 40px;
}
.shop-user-bottom{
    position: absolute;
    top: 99px;
    width: 100%;
    height: 300px;
}
.shop-user-bottom ul{
    position: relative;
    list-style: none;
    top: 10px;
    padding-left: 0px;
}
.shop-user-bottom ul li{
    width: 230px;
    height: 46px;
    /*border: 1px solid #DDDDDD;
*/
     background-image: url("../img/yi.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 40px;
    cursor: pointer;
    transition: border 0.5s;
    background-color:rgb(106,11,7);

}
.shop-user-bottom ul li:hover{
    border: 1px solid #761c19;
}
.shop-user-bottom ul li img{
    margin-top: 10px;
    margin-left: 30px;
}
.shop-user-bottom ul li span{
    position: relative;
    top: 8px;
    left: 20px;
    font-size: 24px;
}
/*
.foot-top{
    position: absolute;
    bottom: 50px;
    left: 47%;
    color: #D8D8D8;
    font-size: 12px;
}
.foot-top a{
    color: #D8D8D8;
}
.foot-bottom{
    position: absolute;
    bottom: 25px;
    left: 40%;
    color: #D8D8D8;
    font-size: 12px;
}*/

/** #footer-menu-box
新加footer样式**/

footer {
    height: 350px;
    width: 100%;
    background: rgb(224, 224, 224);
    position: absolute;
    bottom: 2px;
    display: block;
    top: 2160px;
}

footer a:hover {
    color: #999;
}

.footer-top {
   margin: 30px 0;
    display: flex;
    justify-content: space-around;

}

.footer-top>li {
    display: flex;
}

.footer-top .iconfont {
    background: rgb(254, 169, 17);
    color: #fff;
    width: 60px;
    line-height: 60px;
    font-size: 40px;
    border-radius: 30px;
    text-align: center;
    padding-top: 13px;
}

.footer-top-tit {
    height: 60px;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    box-sizing: border-box;
    flex-direction: column;
    margin-left: 5px;
    font-size: 14px;
    color: rgb(133, 132, 132);
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
}

.footer-bottom a {
    font-size: 12px;
}

.footer-bottom-tit {
    color: #333;
    margin-bottom: 10px;
}

.footer-copy {
    text-align: center;
    color: #0f0f0f;
    margin-top: 50px;
    line-height: 20px;
    font-size: 14px;
}

.shop-null{
    position: relative;
    color: #D8D8D8;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10%;
    margin-left: 40%;
}